$primary:       #7f66f8;
$secondary:     #ff95d6;
// $success:       $green !default;
$info:          #ff66c4 ;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-900 !default;

@import 'node_modules/bootstrap/scss/bootstrap.scss'; 

